In [89]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

In [90]:
import time
from tqdm import tqdm

for i in tqdm(range(10)):
    time.sleep(0.1)

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:01<00:00,  9.26it/s]

## 3. 크롤링 이해하기

### (2) 크롤링 예제

In [91]:
import requests as rq
from bs4 import BeautifulSoup
import os

url = 'https://finance.naver.com/news/news_list.naver?mode=LSS2D&section_id=101&section_id2=258'

data = rq.get(url)

In [92]:
html = BeautifulSoup(data.content, 'html.parser')
html_select = html.select('dl > dd.articleSubject>a')
html_select[0]

<a href="/news/news_read.naver?article_id=0004284825&amp;office_id=011&amp;mode=LSS2D&amp;type=0§ion_id=101§ion_id2=258§ion_id3=&amp;date=20240109&amp;page=1" title="부동산 PF 위기에도…올 첫 증권채 수요예측 '완판' [시그널]">부동산 PF 위기에도…올 첫 증권채 수요예측 '완판' [시그널]</a>

In [93]:
html_select[0].get('title')

"부동산 PF 위기에도…올 첫 증권채 수요예측 '완판' [시그널]"

In [94]:
html = BeautifulSoup(data.content, 'html.parser')
html_select =  html.select('dl > dd.articleSubject > a')
[i.get('title') for i in html_select]

["부동산 PF 위기에도…올 첫 증권채 수요예측 '완판' [시그널]",
 '[투자의 창] 경기 연착륙·침체의 갈림길',
 '우진엔텍 새해 첫 상장…공모주 열풍 잇는다 [시그널]',
 '\'韓기업 경영 연구\'지원 사재 50억 출연…김창수 F&F 회장 "세계적 싱크탱크 육성"',
 '주담대 대환대출 첫날부터 쏠림현상…카카오뱅크 접수 중단',
 '결국 터졌다…홍콩 ELS 첫 손실률 48.6%',
 '[마켓인]“태영건설 워크아웃 키, 이곳이 쥐고 있다”…KKR로 쏠리는 눈',
 '조각투자 시장 열린다… 증권사들 플랫폼 구축·상품 발행 속도 [2024 K-엔진을 다시 켜라]',
 'AI가 투자보고서부터 자산관리까지… 디지털 휴먼도 등장 [2024 K-엔진을 다시 켜라]',
 '삼성증권, 글로벌 핵심 반도체株 담은 펀드 판매',
 '경쟁 치열해지는 퇴직연금시장…신한자산운용 TDF 수익률 1등',
 '롯데쇼핑, 회사채 수요예측서 1.1조원 몰려',
 '중국 알리 대박에 웃는 한국 회사…주가 거침없는 질주',
 '\'악재\' 아니었어?…"지금이 매수 적기" 증권가 추천한 종목',
 '日증시, 33년 10개월만에 최고치 경신…올해 더 오를까',
 '10·26 이후 처음…외국인 "안녕, 삼성전자" [마켓플러스]',
 "피노텍, '담보 대환대출 인프라'에 비대면 전자등기 플랫폼 공급",
 '세방, \'2024 중대재해 ZERO 선포식\' 성료.."안전 작업환경 조성"']

### 2) 기업공시채널에서 오늘의 공시 업체 크롤링

In [95]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
url = 'https://kind.krx.co.kr/disclosure/todaydisclosure.do?method=searchTodayDisclosureMain&marketType=0'
query = {
 'method': 'searchTodayDisclosureSub',
 'currentPageSize': '15',
 'pageIndex': '1',
 'orderMode': '0',
 'orderStat': 'D',
 'forward': 'todaydisclosure_sub',
 'chose': 'S',
 'todayFlag': 'N',
 'selDate': '2023-07-12'}
data = rq.post(url, query)
data_bs = BeautifulSoup(data.content, 'html.parser')
pd.read_html(data_bs.prettify())[0].head()

,0,1
0,오늘 01.08 (월) 01.05 (금) 01.04 (목) 01.03 (수),오늘 01.08 (월) 01.05 (금) 01.04 (목) 01.03 (수)
1,회사명,찾기

#### 3) 네이버 증권에서 주식 티커 크롤링

In [96]:
import requests as rq
from bs4 import BeautifulSoup
i = 0
ticker = {}
url = 'https://finance.naver.com/sise/sise_market_sum.naver?sosok＝'+str(i)+'&page＝1'
down_table = rq.get(url)

In [97]:
down_html = BeautifulSoup(down_table.content, 'html.parser')
navi_final = down_html.select_one('td.pgRR > a').get('href')
print(navi_final)

/sise/sise_market_sum.naver?sosok%EF%BC%9D0&page%EF%BC%9D1&page=43

In [98]:
navi_final_number = navi_final.split('=')[-1]
navi_final_number = int(navi_final_number)
navi_final_number

43

In [99]:
import pandas as pd
i = 0 
j = 1 
url = 'https://finance.naver.com/sise/sise_market_sum.naver?sosok='+str(i)+"&page="+str(j)
read_table = pd.read_html(url, encoding = "EUC-KR")
table = read_table[1]

In [100]:
table.head()

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,74700.0,1800.0,-2.35%,100.0,4459428.0,5969783.0,54.07,25827921.0,15.88,17.07,NaN
2,2.0,SK하이닉스,137400.0,1400.0,+1.03%,5000.0,1000275.0,728002.0,53.31,3425173.0,-8.71,3.56,NaN
3,3.0,LG에너지솔루션,417500.0,2500.0,+0.60%,500.0,976950.0,234000.0,4.77,139826.0,64.21,5.75,NaN
4,4.0,삼성바이오로직스,752000.0,3000.0,+0.40%,2500.0,535228.0,71174.0,10.68,32047.0,57.13,11.42,NaN

In [101]:
table = table.drop(columns = '토론실')
table = table.dropna(subset = ['종목명'])
table.head()

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
1,1.0,삼성전자,74700.0,1800.0,-2.35%,100.0,4459428.0,5969783.0,54.07,25827921.0,15.88,17.07
2,2.0,SK하이닉스,137400.0,1400.0,+1.03%,5000.0,1000275.0,728002.0,53.31,3425173.0,-8.71,3.56
3,3.0,LG에너지솔루션,417500.0,2500.0,+0.60%,500.0,976950.0,234000.0,4.77,139826.0,64.21,5.75
4,4.0,삼성바이오로직스,752000.0,3000.0,+0.40%,2500.0,535228.0,71174.0,10.68,32047.0,57.13,11.42
5,5.0,삼성전자우,61000.0,800.0,-1.29%,100.0,501961.0,822887.0,73.02,1602005.0,12.97,NaN

In [102]:
down_html = BeautifulSoup(down_table.content, 'html.parser')
down_link = down_html.select('tbody > tr > td > a')
symbol = [i.get('href') for i in down_link]
symbol[:10]

['/item/main.naver?code=005930',
 '/item/board.naver?code=005930',
 '/item/main.naver?code=000660',
 '/item/board.naver?code=000660',
 '/item/main.naver?code=373220',
 '/item/board.naver?code=373220',
 '/item/main.naver?code=207940',
 '/item/board.naver?code=207940',
 '/item/main.naver?code=005935',
 '/item/board.naver?code=005935']

In [103]:
symbol_parse = [i.split('=')[-1] for i in symbol]
symbol_parse[:10]

['005930',
 '005930',
 '000660',
 '000660',
 '373220',
 '373220',
 '207940',
 '207940',
 '005935',
 '005935']

In [104]:
symbol_parse = pd.unique(symbol_parse).tolist()
symbol_parse[:10]

['005930',
 '000660',
 '373220',
 '207940',
 '005935',
 '005380',
 '005490',
 '035420',
 '000270',
 '051910']

In [105]:
table['N'] = symbol_parse
table = table.rename(columns = {'N':'종목코드'})
table = table.reset_index(drop = True)
ticker[j] = table

In [106]:
# 실행 안 됨
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm
import time

data = {}
mkt = [0,1]

for i in mkt:

    ticker = {}
    url = 'https://finance.naver.com/sise/sise_market_sum.nhn?sosok＝'+str(i)+'&page＝1'
    down_table = rq.get(url)

    down_html = BeautifulSoup(down_table.content, 'html.parser')
    navi_final = down_html.select_one('td.pgRR >a').get('href')

    navi_final_number = navi_final.split('=')[-1]
    navi_final_number = int(navi_final_number)

    for j in tqdm(range(1, navi_final_number+1)):
        url_page = 'https://finance.naver.com/sise/sise_market_sum.naver?sosok=' + str(i) + "&page=" + str(j)
        read_table = pd.read_html(url_page, encoding= "EUC-KR")
        table = read_table[1]

        table = table.drop(columns = '토론실')
        table = table.dropna(subset=["종목명"])

        down_page = rq.get(url_page)
        down_html = BeautifulSoup(down_page.content, 'html.parser')
        down_link = down_html.select('tbody > tr > td >a')
        symbol = [s.get('href') for s in down_link]

        symbol_parse = [p.split('=')[-1] for p in symbol]
        symbol_parse = pd.unique(symbol_parse).tolist()

        table['N'] = symbol_parse
        tbale = table.rename(columns = {'N': '종목코드'})
        table = table.reset_index(drop=True)
        ticker[j] = table

        time.sleep(0.5)

    tickers = pd.concat(ticker.values())
    data[i] = tickers

data_final = pd.concat(data.values())
data_final = data_final.reset_index(drop=True)

100%|██████████████████████████████████████████████████████████████████████████████████| 43/43 [00:46<00:00,  1.08s/it]
100%|██████████████████████████████████████████████████████████████████████████████████| 43/43 [00:45<00:00,  1.05s/it]

## 4. 금융데이터 수집하기(심화)

### (1) DataReader()함구를 이용해 네이버 수정주가 다운로드

In [147]:
import pandas_datareader.data as web
from datetime import date
from dateutil.relativedelta import relativedelta
import re
fr = (date.today() + relativedelta(years=-7)).strftime("%Y%m%d")
to = (date.today()).strftime("%Y%m%d")
df = web.DataReader('005930', 'naver', start = fr, end = to)
df.head()

             Open   High    Low  Close  Volume
Date
2017-01-09  36600  37500  36560  37220  263898
2017-01-10  37280  37400  37080  37240  181996
2017-01-11  37520  38560  37420  38280  240363
2017-01-12  38000  38800  37980  38800  233383
2017-01-13  38100  38319  37460  37460  319089

### (2) 재무제표 및 가치지표 크롤링

### (3) 재무제표 다운로드

In [148]:
import pandas as pd
ticker = '005930'
url = f'http://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker}'
data = pd.read_html(url, displayed_only=False)
[item.head(3) for item in data]

[  IFRS(연결)    2020/12    2021/12    2022/12    2023/09       전년동기 전년동기(%)
 0      매출액  2368070.0  2796048.0  3022314.0  1911556.0  2317668.0   -17.5
 1     매출원가  1444883.0  1664113.0  1900418.0  1342730.0  1414140.0    -5.0
 2    매출총이익   923187.0  1131935.0  1121896.0   568825.0   903527.0   -37.0,
   IFRS(연결)   2022/12   2023/03   2023/06   2023/09      전년동기 전년동기(%)
 0      매출액  704646.0  637454.0  600055.0  674047.0  767817.0   -12.2
 1     매출원가  486277.0  460071.0  416472.0  466187.0  480722.0    -3.0
 2    매출총이익  218368.0  177383.0  183583.0  207859.0  287094.0   -27.6,
              IFRS(연결)    2020/12    2021/12    2022/12    2023/09
 0                  자산  3782357.0  4266212.0  4484245.0  4544664.0
 1  유동자산계산에 참여한 계정 펼치기  1982156.0  2181632.0  2184706.0  2064386.0
 2                재고자산   320431.0   413844.0   521879.0   552560.0,
              IFRS(연결)    2022/12    2023/03    2023/06    2023/09
 0                  자산  4484245.0  4540918.0  4480006.0  4544664.0
 1  유동자산계산에 참여한 계정 펼치기  2184706.0  2144421.0  2039754.0  2064386.0
 2                재고자산   521879.0   544196.0   555048.0   552560.0,
          IFRS(연결)   2020/12   2021/12   2022/12   2023/09
 0    영업활동으로인한현금흐름  652870.0  651054.0  621813.0  241922.0
 1           당기순손익  264078.0  399075.0  556541.0   91423.0
 2  법인세비용차감전계속사업이익       NaN       NaN       NaN       NaN,
          IFRS(연결)   2022/12  2023/03  2023/06  2023/09
 0    영업활동으로인한현금흐름  186129.0  62918.0  81699.0  97305.0
 1           당기순손익  238414.0  15746.0  17236.0  58442.0
 2  법인세비용차감전계속사업이익       NaN      NaN      NaN      NaN]

In [149]:
data_IS = data[0]
data_BS = data[2]
data_CF = data[4]

In [150]:
print(data_IS.columns)

Index(['IFRS(연결)', '2020/12', '2021/12', '2022/12', '2023/09', '전년동기',
       '전년동기(%)'],
      dtype='object')

In [151]:
data_IS = data_IS.iloc[:, 0:(len(data_IS.columns)-2)]
data_fs = pd.concat([data_IS, data_BS, data_CF]).reset_index(drop=True)
data_fs.head()

                IFRS(연결)    2020/12    2021/12    2022/12    2023/09
0                    매출액  2368070.0  2796048.0  3022314.0  1911556.0
1                   매출원가  1444883.0  1664113.0  1900418.0  1342730.0
2                  매출총이익   923187.0  1131935.0  1121896.0   568825.0
3  판매비와관리비계산에 참여한 계정 펼치기   563248.0   615596.0   688130.0   531403.0
4                    인건비    70429.0    75568.0    80937.0    64238.0

In [152]:
data_fs.iloc[:, 0] =  data_fs.iloc[:, 0].replace({'계산에 참여한 계정 펼치기':''}, regex = True)
data_fs = data_fs.set_index(data_fs.columns[0])
data_fs = data_fs[~data_fs.index.duplicated(keep='first')]
data_fs = data_fs.filter(like = '12', axis = 1)
data_fs.head()

            2020/12    2021/12    2022/12
IFRS(연결)
매출액       2368070.0  2796048.0  3022314.0
매출원가      1444883.0  1664113.0  1900418.0
매출총이익      923187.0  1131935.0  1121896.0
판매비와관리비    563248.0   615596.0   688130.0
인건비         70429.0    75568.0    80937.0

In [153]:
data_fs.to_csv('./005930_fs.csv')

### (7) 가치지표 계산하기

In [154]:
if not os.path.exists('data/KOR_value'):
    os.makedirs('data/KOR_value')

value_type = ['지배주주순이익', '자본', '영업활동으로인한현금흐름', '매출액']
value_index = data_fs.loc[value_type].iloc[:, [-1]]
value_index

                2022/12
IFRS(연결)
지배주주순이익        547300.0
자본            3547496.0
영업활동으로인한현금흐름   621813.0
매출액           3022314.0

In [155]:
url = 'http://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode=A005930'
data = pd.read_html(url)[0]
data

,0,1,2,3
0,종가/ 전일대비,"76,500/ -100",거래량,11088724
1,52주.최고가/ 최저가,"79,600/ 59,000",거래대금(억원),8527
2,수익률(1M/ 3M/ 6M/ 1Y),+5.37/ +15.91/ +9.44/ +29.66,외국인 보유비중,54.07
3,"시가총액(상장예정포함,억원)",5075428,베타(1년),0.91740
4,"시가총액(보통주,억원)",4566884,액면가,100
5,NaN,NaN,NaN,NaN
6,발행주식수(보통주/ 우선주),"5,969,782,550/ 822,886,700",유동주식수/비율(보통주),"4,538,536,032 / 76.03"

In [156]:
price = data.iloc[0, 1].split()[0]
price = price.replace(",", "")
price = int(re.findall("[0-9]+", price)[0])
price

76500

In [157]:
share = data.iloc[6, 1].split()[0]
share = share.replace(",", "")
share = int(re.findall("[0-9]+", share)[0])
share

5969782550

In [159]:
import numpy as np
data_value = price / (value_index.iloc[:, [0]] * 100000000 / share)
data_value.index = ['PER', 'PBR', 'PCR', 'PSR']
data_value[data_value.iloc[:, 0] < 0] = np.nan
data_value = data_value.replace(np.inf, np.nan)
data_value

      2022/12
PER  8.344388
PBR  1.287354
PCR  7.344465
PSR  1.511055

In [182]:
import pandas as pd
import numpy as np
import os
import time
import re
from tqdm import tqdm
if not os.path.exists('data/KOR_fs'):
     os.makedirs('data/KOR_fs')

if not os.path.exists('data/KOR_value'):
     os.makedirs('data/KOR_value')
        
KOR_ticker = pd.read_csv('data/data_final.csv', index_col=0)
error_list = []

for i in tqdm(range(0, len(KOR_ticker))):

    data_fs = pd.DataFrame({'':[np.nan]})
    data_value = pd.DataFrame({'':[np.nan]})

 
    name = KOR_ticker.index[i]

 # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:
     # url 생성
        url = 'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A'+name

         # 데이터 다운로드 후 테이블 추출
        data = pd.read_html(url, displayed_only = False)

        data_IS = data[0]
        data_BS = data[2]
        data_CF = data[4]
        data_IS = data_IS.iloc[:, 0:(len(data_IS.columns)-2)]

         # 클렌징
        data_fs = pd.concat([data_IS, data_BS, data_CF]).reset_index(drop=True)
        data_fs.iloc[:, 0] = data_fs.iloc[:, 0].replace({'계산에 참여한 계정 펼치기':''}, regex = True)
        data_fs = data_fs.set_index(data_fs.columns[0])
        data_fs = data_fs[~data_fs.index.duplicated(keep='first')]
        data_fs = data_fs.filter(like = '12', axis = 1)

         # 가치 지표 선택
        value_type = ['지배주주순이익', '자본', '영업활동으로인한현금흐름', '매출액']
        value_index = data_fs.loc[value_type].iloc[:, [-1]]

         # 현재 주가
        url_snap = 'https://comp.fnguide.com/SVO2/ASP/SVD_Main.asp?pGB=1&gicode=A'+name
        data_snap = pd.read_html(url_snap)[0]

        price = data_snap.iloc[0, 1].split()[0]
        price = price.replace(",", "")
        price = int(re.findall("[0-9]+", price)[0])


        share = data_snap.iloc[6, 1].split()[0]
        share = share.replace(",", "")
        share = int(re.findall("[0-9]+", share)[0])
        if price !=0. and share !=0:
            data_value = price / (value_index.iloc[:, [0]] * 100000000 / share)
            data_value.index = ['PER', 'PBR', 'PCR', 'PSR']
            data_value[data_value.iloc[:, 0] < 0] = np.nan
            data_value = data_value.replace(np.inf, np.nan)

    except:
         error_list.append(name)

data_fs.to_csv('data/KOR_fs/'+name+'_fs.csv')
data_value.to_csv('data/KOR_value/'+name+'_value.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/data_final.csv'